<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Principal Layout</title>
    <link href="../Css/LayoutPrincipal.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
    <br /><br />
    <div class="container">
        <div class="cabecera">
            <div class="row">
                <div class="col header">
                    <p>
                        <label class="title">Header</label>
                        <br />
                        <label class="subtitle">(12 Columnas)</label>
                        <br />
                        <label class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Donec non egestas risus. Nam quis quam efficitur nulla
                            egestas mollis. Aenean euismod sapien quis nibh facilisis
                            aliquet. Suspendisse gravida sodales est nec finibus. Nunc
                            a varius mi. Maecenas vel nibh lacus. Quisque id luctus ante.
                            Nam rhoncus eu sapien sed sagittis. Class aptent taciti sociosqu
                            ad litora torquent per conubia nostra, per inceptos himenaeos.
                            Etiam eleifend leo id risus imperdiet, vel vehicula nisi vehicula.
                            In at egestas metus. Proin consequat placerat tincidunt. Duis
                            sodales, turpis vitae finibus commodo, ligula diam fermentum dui,
                            eget finibus quam sem tincidunt erat. Nunc fringilla quam felis,
                            quis ultricies velit rhoncus vitae.
                        </label>
                    </p>
                </div>
            </div>
        </div>
        <div class="contenido">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-8 main">
                    <p>
                        <label class="title">Main</label>
                        <br />
                        <label class="subtitle">(8 Columnas)</label>
                        <br />
                        <label class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Donec non egestas risus. Nam quis quam efficitur nulla
                            egestas mollis. Aenean euismod sapien quis nibh facilisis
                            aliquet. Suspendisse gravida sodales est nec finibus. Nunc
                            a varius mi. Maecenas vel nibh lacus. Quisque id luctus ante.
                            Nam rhoncus eu sapien sed sagittis. Class aptent taciti sociosqu
                            ad litora torquent per conubia nostra, per inceptos himenaeos.
                            Etiam eleifend leo id risus imperdiet, vel vehicula nisi vehicula.
                            In at egestas metus. Proin consequat placerat tincidunt. Duis
                            sodales, turpis vitae finibus commodo, ligula diam fermentum dui,
                            eget finibus quam sem tincidunt erat. Nunc fringilla quam felis,
                            quis ultricies velit rhoncus vitae. Class aptent taciti sociosqu
                            ad litora torquent per conubia nostra, per inceptos himenaeos.
                            Etiam eleifend leo id risus imperdiet, vel vehicula nisi vehicula.
                            In at egestas metus. Proin consequat placerat tincidunt. Duis
                            sodales, turpis vitae finibus commodo, ligula diam fermentum dui,
                            eget finibus quam sem tincidunt erat. Nunc fringilla quam felis,
                            quis ultricies velit rhoncus vitae.
                        </label>
                    </p>
                </div>
                <div class="col-12 col-md-4 col-lg-4 aside">
                    <p>
                        <label class="title">Aside</label>
                        <br />
                        <label class="subtitle">(4 Columnas)</label>
                        <br />
                        <label class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Donec non egestas risus. Nam quis quam efficitur nulla
                            egestas mollis. Aenean euismod sapien quis nibh facilisis
                            aliquet. Suspendisse gravida sodales est nec finibus. Nunc
                            a varius mi. Maecenas vel nibh lacus. Quisque id luctus ante.
                            Nam rhoncus eu sapien sed sagittis.
                        </label>
                    </p>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-12 col-md-4 col-lg-3 article">
                    <p>
                        <label class="title">Articulo</label>
                        <br />
                        <label class="subtitle">(3 Columnas)</label>
                        <br />
                        <label class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Donec non egestas risus. Nam quis quam efficitur nulla
                            egestas mollis.
                        </label>
                    </p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 article">
                    <p>
                        <label class="title">Articulo</label>
                        <br />
                        <label class="subtitle">(3 Columnas)</label>
                        <br />
                        <label class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Donec non egestas risus. Nam quis quam efficitur nulla
                            egestas mollis.
                        </label>
                    </p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 article">
                    <p>
                        <label class="title">Articulo</label>
                        <br />
                        <label class="subtitle">(3 Columnas)</label>
                        <br />
                        <label class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Donec non egestas risus. Nam quis quam efficitur nulla
                            egestas mollis.
                        </label>
                    </p>
                </div>
            </div>
        </div>
        <div class="final">
            <div class="row">
                <div class="col footer">
                    <p>
                        <label class="title">Footer</label>
                        <br />
                        <label class="subtitle">(12 Columnas)</label>
                        <br />
                        <label class="text">
                            José Eduardo Rivas Cuevas <br />
                            Matricula 19300671 <br />
                            Materia: Desarrollo Web Multiplataforma <br />
                            Universidad Tecnológica de Tula Tepeji
                        </label>
                        <br /><br />
                        <a class="link" href="index.html">Volver al inicio</a>
                    </p>
                </div>
            </div>
        </div>
    </div>   
</body>
</html>