p{
    padding: 20px 20px;
    color: white;
}

.title {
    font-size: 170%;
}

.subtitle{
    font-size: 130%;
}

.text {
    margin-top:2%;
    font-size: 100%;
}

.row {
    margin-top: 10px;
    margin-bottom: 20px;
}

.header {
    background-color: #465e7c;
}

.main {
    background-color: #275b6f;
}

.aside {
    background-color: #248156;
}

.article{
    background-color:#5c97ca;
}

.footer{
    background-color:#181240;
}