<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mi Primer Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
    <section class="container">
        <div class="row">
            <div class="col col-lg-6">

                <p>
                    I don't know what i do...
                    この道や
                    行く人なしに
                    秋の暮れ, 凧の影
                    走り現る
                    雪の上, 雪の朝
                    二の字二の字の
                    下駄の跡

                    <br />
                    <br />
                    <b> HEEEEEEEEEEEEEEEEEEE</b>
                </p>
            </div>

            <div class="col-4">

                <p>
                    ...with my life :(
                    <br />
                    <br />
                    <b>LLLLLLLLLLLPPPPPPP</b>
                </p>

            </div>

        </div>
    </section>
</body>
</html>