<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to my first Layaout!</title>


    <link href="../CSS/StyleSheet1.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
    <br />
    <div class="container">
        <div class="row">
            <div class="col header">
                <p>
                    <label class="Title"> Die for you </label>
                    <br />
                    <label class="subtitulo">(feat. Daft Punk)</label>
                    <br />
                    <label class="text">
                        I'm findin' ways to articulate
                        The feeling I'm goin' through
                        I just can't say I don't love you
                        'Cause I love you, yeah
                    </label>

                </p>
            </div>

        </div>
        <div class="content">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8 main">
                    <p>
                        <label class="Title">It's hard for me</label>
                        <br />
                        <label class="subtitulo">to communicate the thoughts that I hold</label>
                        <br />
                        <label class="text">
                            But tonight I'm gon' let you know
                            Let me tell the truth
                            Baby let me tell the truth, yeah

                            You know what I'm thinkin'
                        </label>
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 aside">
                    <p>
                        <label class="Title">See it in your eyes</label>
                        <br />
                        <label class="subtitulo">See it in your eyes</label>
                        <br />
                        <label class="text">
                            Hate it when you cry
                            You're scared to be lonely
                            'Specially in the night
                            I'm scared that I'll miss you

                        </label>
                    </p>
                </div>

            </div>
        </div>
        <div class="row justify-content-between">

            <div class="col-12 col-md-4 col-lg-3 article">
                <p>

                    <label class="Title">
                        And I know that you're worth it
                    </label>
                    <br />
                    <label class="subtitulo">I can't walk away, oh!</label>
                    <br />
                    <label class="text">
                        Even though we're going through it
                        And it makes you feel alone

                    </label>

                </p>
            </div>

            <div class="col-12 col-md-4 col-lg-3 article">
                <p>

                    <label class="Title">I'm finding ways to manipulate</label>
                    <br />
                    <label class="subtitulo">I'm finding ways to manipulate</label>
                    <br />
                    <label class="text">
                        But baby girl, I'm not blamin' you
                        Just don't blame me too, yeah

                    </label>

                </p>
            </div>

            <div class="col-12 col-md-4 col-lg-3 article">
                <p>

                    <label class="Title">You know what I'm thinkin'</label>
                    <br />
                    <label class="subtitulo">See it in your eyes</label>
                    <br />
                    <label class="text">
                        You hate that you want me
                        Hate it when you cry

                    </label>

                </p>
            </div>

        </div>

        <div class="final">
            <div class="row">
                <div class="col footer ">
                    <p>
                        <label class="Tittle">Datos del alumno</label>
                        <br />
                        <label class="subtitulo">Shendel López Almaraz</label>
                        <br />
                        <label class="text">
                            Matrícula: 19301096
                            Desarrollo de Software Multiplataforma
                        </label>
                    </p>
                </div>
            </div>
        </div>

    </div>

</body>

</html>