<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diseño Layout Principal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="../CSS/Estilo.css" rel="stylesheet" />
</head>
<body>
    <br/> 
          <div class="container">
              <div class="row">
                  <div class="col-12 cabezera">
                      Header <br />
                      Nullam eget tincidunt risus. Cras urna nulla, maximus eget nulla id, feugiat mattis
                      turpis. Integer in lacus ligula. Etiam rutrum erat egestas orci commodo luctus.
                      Maecenas vel arcu sit amet massa maximus volutpat vitae nec ipsum. Aenean ut urna
                      vel elit rutrum facilisis. Fusce mattis nisi a justo accumsan egestas. Vivamus nec
                      tincidunt velit, ut convallis nunc. Nunc at ex id mauris condimentum blandit sit
                      amet eleifend nibh. Vestibulum lectus dolor, faucibus quis eleifend ac, mollis vitae
                      urna. Aenean at semper quam. Fusce ipsum ante, facilisis veleros nec, rhoncus
                      imperdiet quam. Morbi vestibulum nunc eu turpis vestibulum posuere. Aliquam venenatis
                      fringilla semper. Vivamus ut tellus quis eros lacinia venenatis et in nunc.
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 col-md-6 col-lg-8 main">
                      Main <br />
                      Nullam eget tincidunt risus. Cras urna nulla, maximus eget nulla id, feugiat mattis
                      turpis. Integer in lacus ligula. Etiam rutrum erat egestas orci commodo luctus.
                      Maecenas vel arcu sit amet massa maximus volutpat vitae nec ipsum. Aenean ut urna
                      vel elit rutrum facilisis. Fusce mattis nisi a justo accumsan egestas. Vivamus nec
                      tincidunt velit, ut convallis nunc. Nunc at ex id mauris condimentum blandit sit
                      amet eleifend nibh. Vestibulum lectus dolor, faucibus quis eleifend ac, mollis vitae
                      urna. Aenean at semper quam. Fusce ipsum ante, facilisis veleros nec, rhoncus
                      imperdiet quam. Morbi vestibulum nunc eu turpis vestibulum posuere. Aliquam venenatis
                      fringilla semper. Vivamus ut tellus quis eros lacinia venenatis et in nunc.

                      Nullam eget tincidunt risus. Cras urna nulla, maximus eget nulla id, feugiat mattis
                      turpis. Integer in lacus ligula. Etiam rutrum erat egestas orci commodo luctus.
                      Maecenas vel arcu sit amet massa maximus volutpat vitae nec ipsum. Aenean ut urna
                      vel elit rutrum facilisis. Fusce mattis nisi a justo accumsan egestas. Vivamus nec
                      tincidunt velit, ut convallis nunc. Nunc at ex id mauris condimentum blandit sit
                      amet eleifend nibh. Vestibulum lectus dolor, faucibus quis eleifend ac, mollis vitae
                      urna. Aenean at semper quam. Fusce ipsum ante, facilisis veleros nec, rhoncus
                      imperdiet quam. Morbi vestibulum nunc eu turpis vestibulum posuere. Aliquam venenatis
                      fringilla semper. Vivamus ut tellus quis eros lacinia venenatis et in nunc.
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 aside">
                      Aside <br />
                      Nullam eget tincidunt risus. Cras urna nulla, maximus eget nulla id, feugiat mattis
                      turpis. Integer in lacus ligula. Etiam rutrum erat egestas orci commodo luctus.
                      Maecenas vel arcu sit amet massa maximus volutpat vitae nec ipsum. Aenean ut urna
                      vel elit rutrum facilisis. Fusce mattis nisi a justo accumsan egestas. 
                  </div>
              </div>
              <div class="row justify-content-between">
                  <div class="col-12 col-md-3 col-lg-3  contenido">

                      Nullam eget tincidunt risus. Cras urna nulla, maximus eget nulla id, feugiat mattis
                      turpis. Integer in lacus ligula. Etiam rutrum erat egestas orci commodo luctus.
                      Maecenas vel arcu sit amet massa maximus volutpat vitae nec ipsum. Aenean ut urna
                      vel elit rutrum facilisis. Fusce mattis nisi a justo accumsan egestas. Vivamus nec
                      tincidunt velit, ut convallis nunc. Nunc at ex id mauris condimentum blandit sit
                      amet eleifend nibh. Vestibulum lectus dolor, faucibus quis eleifend ac, mollis vitae
                      urna. Aenean at semper quam. Fusce ipsum ante, facilisis veleros nec, rhoncus
                      imperdiet quam. Morbi vestibulum nunc eu turpis vestibulum posuere. Aliquam venenatis
                      fringilla semper. Vivamus ut tellus quis eros lacinia venenatis et in nunc.
                  </div>
                  <div class="col-12 col-md-3 col-lg-3  contenido">

                      Nullam eget tincidunt risus. Cras urna nulla, maximus eget nulla id, feugiat mattis
                      turpis. Integer in lacus ligula. Etiam rutrum erat egestas orci commodo luctus.
                      Maecenas vel arcu sit amet massa maximus volutpat vitae nec ipsum. Aenean ut urna
                      vel elit rutrum facilisis. Fusce mattis nisi a justo accumsan egestas. Vivamus nec
                      tincidunt velit, ut convallis nunc. Nunc at ex id mauris condimentum blandit sit
                      amet eleifend nibh. Vestibulum lectus dolor, faucibus quis eleifend ac, mollis vitae
                      urna. Aenean at semper quam. Fusce ipsum ante, facilisis veleros nec, rhoncus
                      imperdiet quam. Morbi vestibulum nunc eu turpis vestibulum posuere. Aliquam venenatis
                      fringilla semper. Vivamus ut tellus quis eros lacinia venenatis et in nunc.
                  </div>
                  <div class="col-12 col-md-3 col-lg-3  contenido">

                      Nullam eget tincidunt risus. Cras urna nulla, maximus eget nulla id, feugiat mattis
                      turpis. Integer in lacus ligula. Etiam rutrum erat egestas orci commodo luctus.
                      Maecenas vel arcu sit amet massa maximus volutpat vitae nec ipsum. Aenean ut urna
                      vel elit rutrum facilisis. Fusce mattis nisi a justo accumsan egestas. Vivamus nec
                      tincidunt velit, ut convallis nunc. Nunc at ex id mauris condimentum blandit sit
                      amet eleifend nibh. Vestibulum lectus dolor, faucibus quis eleifend ac, mollis vitae
                      urna. Aenean at semper quam. Fusce ipsum ante, facilisis veleros nec, rhoncus
                      imperdiet quam. Morbi vestibulum nunc eu turpis vestibulum posuere. Aliquam venenatis
                      fringilla semper. Vivamus ut tellus quis eros lacinia venenatis et in nunc.
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 footer">
                      FOOTER <br />
                      URIEL SANTILLAN PAZ |
                      19300831  |
                      5TIDSM-G1
                      <br/>
                      <a class="link" href="https://eduardrivs.github.io/Actividad1_PrincipalLayout/">Volver al inicio</a>
                  </div>
              </div>
          </div>
</body>
</html>